#cadastro-cliente{

    margin-top: 5%;
    width: 50%;
}

body{
    background-color: gainsboro;
}

#body-index{
    background-color: gainsboro;
}

#div-index-row{
    width: 50%;
}


#container-index{

    margin-top: 4%;
    
}